#divMain {
	margin-left: 450px;/*左外边距*/
	margin-top:180px;/*上外边距*/
}

#divTitle {
	line-height: 30px;/*div的默认行高*/
	width: 880px;
	height: 30px;
	border: 3px solid #d0d0d0;
	background: url(/shopping/images/bg_btns.png) repeat-x 0px -132px;
}

#spanTitle {
	margin-left: 18px;/*左外边距*/
	font-weight: 900;/*字体大小*/
}

#divBody {
	width: 880px;
	height: 400px;
	border-left: 3px solid #d0d0d0;/*对象左边框*/
	border-bottom: 3px solid #d0d0d0;/*对象下边框*/
	border-right: 3px solid #d0d0d0;/*对象右边框*/
}

.tdText {
	width: 300px;
	text-align: right;/*文本的对齐方式:右*/
}

.tdInput {
	width: 250px;
}

.tdError {
	width: 300px;
}

#tableForm {
	line-height: 50px;/*table的默认行高*/
}

.inputClass {
	width: 240px;
	height: 32px;
	border: 1px solid #7f9db9;
	line-height: 32px;/*输入框：input类型的默认行高*/
	padding-left: 10px;/*左内边距*/
}

#imgVerifyCode {
	width: 100px;
}

#divVerifyCode {
	width: 240px;
	height: 53px;
	text-align: center;
	border: 1px solid #7f9db9;
	background-color:white;
}

.errorClass {
	background: url(/shopping/images/error.png) no-repeat;
	color: #f40000;
	font-size: 10pt;
	border: 1px solid #ffb8b8;
	background-color: #fef2f2;
	padding: 8px 8px 8px 35px;/*内边距  上 右  下 左：顺时针效果*/
}